<h1>Productos en Tiempo Real</h1>

<ul id="product-list">
    {{#each products}}
        
        <li>
            <strong>{{title}}</strong>
            <p>{{description}}</p>
            <p>Precio: {{price}}</p>
        </li>
    {{/each}}
</ul>

<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<script src="/js/index.js"></script>